[Desktop Entry]
Type=Application
Name=Giti
Comment=Git history diff viewer
Exec=giti
Icon=io.github.Munawwar.Giti
Terminal=false
Categories=Development;RevisionControl;
Keywords=git;diff;history;commit;
StartupNotify=true
StartupWMClass=io.github.Munawwar.Giti
DBusActivatable=false
